body {
  height: 100%;
  width: 100%;
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background-color: #f8f9fa;
}

hr {
  height: 4px;
  border: 0;
  box-shadow: inset 0 3px 4px -4px rgba(0,0,0,0.15);
}

h1 {
  font-size: 30px;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 15px;
  display: flex;
  /* grid-template-areas: "left-column product-description"
                 "left-column product-price"
                 "left-column color-choose"
                 "left-column shoose-config-list"
                 "left-column product__equipment__content"; */


}

.left-column {
  /* grid-area: left-column; */
  width: 65%;
  position: relative;
  margin-right: 20px;

}

.right-column {
  width: 35%;
}
.images{
  display: grid;

}

.images .active{
  opacity: 1;
}

.images img {
  width: 100%;
  grid-column: 1;
  grid-row: 1;
  position: relative;
  left: 0;
  top: 0;
  opacity: 0;
  transition: all 0.3s ease;
  border: 2px #eee;
}

.product-description{
  /* grid-area: product-description; */
}

.product-description h1 {
  font-weight: 300;
  font-size: 52px;
  color: #43484d;
  letter-spacing: -2px;
}

.product-description p {
  font-size: 16px;
  font-weight: 300;
  color: #86939e;
  line-height: 24px;
}

.product-price {
  /* grid-area: product-price */
}
.product-price p{
  margin: 0;
}

.product-price__value{
  padding: 20px;
  font-size: 30px;
}

.color-choose{
  /* grid-are: color-choose; */
  padding: 20px;
}

.color-choose div {
  display: inline-block;
}

.color-choose input[type="radio"] {
  display: none;
}

.color-choose input[type="radio"] + label span {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -1px 4px 0 0;
  vertical-align: middle;
  cursor: pointer;
  border-radius: 50%;
}

.color-choose input[type="radio"] + label span {
  border: 2px solid #fff;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
}

.color-choose input[type="radio"]#green + label span {
  background-color: #006400;
}

.color-choose input[type="radio"]#black + label span {
  background-color: #323232;
}

.color-choose input[type="radio"]:checked + label span {
  background-image: url(images/check-icn.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.shoose-config-list {
  padding: 0px 0px 20px 0px;
}

.values{
  padding: 0px 0px 0px 20px;
}

.dotted {
  padding: 0;
  list-style: none;
  font-family: 'Marck Script', cursive;
  overflow: hidden;
  /* height: 60px; */
}
.dotted li {
  margin-bottom: 5px;
  border-bottom: 2px #404B51 dotted;
  font-size: 14px;
}
.dotted li span:nth-child(odd) {
  padding-right: 6px;
  color: #404B51;
}
.dotted li span:nth-child(even) {
  float: right;
  padding-left: 6px;
  color: #35D1CE;
}
.dotted span {
  background: white;
  position: relative;
  bottom: -7px;
}

.ten a {
   color: #3482AC;
   /* border-radius: 25px;
   border: 3px solid #404B51;
   padding: 10px; */
}
.ten a:hover {
   /* color: #BDB9AB; */
   background: #E7E5DD;
}
.ten a span {
  font-size: 20px;
   opacity: .3;
   padding-left: 5px;
   padding-right: 5px;
   font-weight: bold;
   transition: 0.4s ease-in-out;
}
.ten a:hover span {
   opacity: 1;
   padding-left: 10px;
   padding-right: 10px;
   /* color: #BDB9AB; */
}

.product__equipment__content{
  display: block;
}

.cart-btn {
  display: inline-block;
  background-color: #7DC855;
  border-radius: 6px;
  font-size: 16px;
  color: #FFFFFF;
  text-decoration: none;
  padding: 12px 30px;
  transition: all 0.5s;
}

.cart-btn:hover {
  background-color: #64af3d;
}

.cart_quantity_button{
  display: inline-block;
}

.cart_quantity_button a {
  background: #f0f0e9;
  color: #696763;
  display: inline-block;
  font-size: 16px;
  height: 28px;
  overflow: hidden;
  text-align: center;
  width: 35px;
  float: left;
  line-height: 28px;
  text-decoration: none;
}

.cart_quantity_input {
  height: 24px;
  color: #696763;
  float: left;
  font-size: 16px;
  text-align: center;
  font-family: roboto, sans-serif;
}

.product__order__content{
  display: flex;
  padding: 0px 0px 0px 20px;
}
.product__order__content p{
  padding: 0px 0px 0px 10px;
  margin: 0;
}
/* Responsive */
@media (max-width: 940px) {
  .container {
    /* display: block; */
    /* grid-template-areas: "product-description"
                    "left-column "
                    "product-price"
                    "color-choose"
                    "shoose-config-list"
                    "product__equipment__content"; */
    flex-direction: column;
    margin-top: 60px;
  }

  .left-column,
  .right-column {
    width: 100%;
  }

  .left-column img {
    right: 0;
    padding: 0;
    /* top: -65px; */
    left: initial;
  }

  .right-column {
    text-align: center;
    padding: 0;
  }
}

@media (max-width: 535px) {
  .left-column img {
    /* top: -85px; */
  }
}
