.grid__body{
  display:grid;

  grid-template: repeat(2, 1fr)/repeat(3, 1fr)

  /* grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr); */
}

.grid__item {
  text-align: center;
  border: 2px dashed rgba(0, 0, 0, 0.2);
  padding: 30px;
}


.grid-wrapper {
  display: grid;

  grid-template:
  [start] 'header header' 100px [row2]
  [row2] 'side content' 1fr [row-end] /150px 1fr

  /* grid-template-columns: 150px 1fr;
  grid-template-rows: 100px 1fr;
  grid-template-areas:
  'header header'
  'side content'; */
}
.grid-header,
.grid-side,
.grid-content {
  padding: 30px;
  border: 2px dashed rgba(0, 0, 0, 0.5);
  margin: 0px 0px 15px 0px;
}
.grid-header{
  grid-area: header;
}
.grid-side{
grid-area: side;
}
.grid-content{
grid-area: content;
}

/* Неявная сетка */
/* автоматическое размещение */
